@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  height: 100%;
  width: 100%;
  min-width: 500px;
  background-color: #f8e65981;
  color: #332941;
  padding: 30px;
}

h1 {
  font-size: 5vw;
  margin-bottom: 10px;
}